DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eraseon?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-este-secreto"
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN="pk.tu_token_publico_de_mapbox"
NEXT_PUBLIC_MAPBOX_TOKEN="pk.tu_token_publico_de_mapbox"
NEXT_PUBLIC_MAPBOX_STYLE="mapbox://styles/mapbox/streets-v12"
